header{
    background-color: rgb(213, 219, 205);
    border-radius: 20px;
    border: 3px outset white;
}
header div h1{
    text-align: center;
}
.img{
    width: 40%;
    height: 40%;
}
.wait{
    text-align: center;
}
.hidden{
    display:none;
}
html{
    background-color: rgba(95, 193, 196, 0.696);
}

